body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f5f7fb;
}

/* TITULOS */
h1, h2, h3 {
  font-weight: 600;
}

/* BOTONES */
.btn-main {
  background-color: #0d6efd;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
}

.btn-success {
  background-color: #198754;
  color: white;
}

.btn-danger {
  background-color: #dc3545;
  color: white;
}

/* CARDS */
.card-custom {
  background: white;
  border-radius: 14px;
  padding: 20px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.08);
}

/* INPUTS */
.input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}